extends layout

block content
  link(rel='stylesheet', href='/stylesheets/styleCandidate.css')
  div.gridContent
    img(src="/images/test.png", alt="bild på maria" , class="testImg")
    p(id="candidatePageName" class="goldText")
    p(id="candidatePageShortDesc" class="goldText")
    p(id="candidatePageLifeDesc")
    p(id="candidatePageWorkDesc")
  .footer
    button.btnVote Vote

  script(src="/javascripts/cookies.js")
  script(src="/javascripts/candidatepage.js")
