extends layout

block content
  div#gridContent
    p(id="candidatePageName")
    p(id="candidatePageShortDesc")
    p(id="candidatePageLifeDesc")
    p(id="candidatePageWorkDesc")
    button.btnVote Vote

  script(src="/javascripts/cookies.js")
  script(src="/javascripts/candidatepage.js")
