extends layout

block content

  #topFrame
        a(href="/" class= "goldText")
          img(src="/images/backIcon-gold.png" id="backIcon")
        h2.goldText Nobel 2020

  link(rel='stylesheet', href='/stylesheets/styleCandidate.css')
  div.gridContent
    img(src="/images/AlanTuring.jpg", alt="bild på Turing" , class="testImg")
    p(id="candidatePageName")
    p(id="candidatePageShortDesc")
    p(id="candidatePageLifeDesc")
    p(id="candidatePageWorkDesc")
  .footer
    button.btnVote Vote

  script(src="/javascripts/cookies.js")
  script(src="/javascripts/candidatepage.js")