extends layout

block content
<<<<<<< HEAD
  h1= title
  p #{title}

  p(id="candidatePageName")
  p(id="candidatePageShortDesc")
  p(id="candidatePageLifeDesc")
  p(id="candidatePageWorkDesc")
=======
  p.goldText Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro modi ex asperiores a fugiat natus perferendis necessitatibus, ducimus pariatur praesentium earum illum dolor sed. Eius ut incidunt deleniti aliquam blanditiis.
  
>>>>>>> 9bb87e6e61ebe0e39714c42ca92a854b49ce2032

  script(src="/javascripts/candidatepage.js")
