extends layout

block content
  p.goldText hej Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita maxime deleniti incidunt unde culpa? Nisi, id ratione perferendis dolore excepturi minus vitae itaque molestiae! Animi tenetur harum placeat ipsum incidunt.