extends layout

block content

  #topFrame
    #topContent
      h2.goldText Nobel 2020
      p hah hmm hmmm usus sjf jdk ekek sk ks ks ksksks ks ks sjf jdk ekek sk ks ks ksksks ks ks
  
  #mainContent
      .homepageCandidates
      ul#homepageCandidate

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascripts/cookies.js")
  script(src="/javascripts/homepage.js")