extends layout

block content

  h2.goldText index
 
  #mainContent
    .homepageCandidates
      ul#homepageCandidate

  script(src="/javascripts/cookies.js")
  script(src="/javascripts/homepage.js")