doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa")
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/styleCandidate.css')
    //link(rel='stylesheet', href='/stylesheets/styleSubmitted.css')
    //link(rel='stylesheet', href='/stylesheets/styleResult.css')
  body
    block content
