doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleCandidate.css')
    link(rel='stylesheet', href='/stylesheets/styleSubmitted.css')
    link(rel='stylesheet', href='/stylesheets/styleResult.css')
  body
    block content
