extends layout

block content

  link(rel='stylesheet', href='/stylesheets/styleResult.css')

  #topFrame
    #topContent
      h2.goldText Vinnare!
      img#imgCandidate
      h3#name

  #mainContent
    p#content
    script(src='javascripts/result.js')
