extends layout

block content
<<<<<<< HEAD
  link(rel='stylesheet', href='/stylesheets/styleResult.css')
  h1= title
  p #{title}
=======

  #topFrame
    #topContent
      h2.goldText Vinnare!

  img.winnerImg(src='images/test.png')
>>>>>>> f1b85d31f749749d4d0b9cb20e1425cc33aad099
