extends layout

block content

  link(rel='stylesheet', href='/stylesheets/styleSubmitted.css')

  #topFrame
    #topContent
      h1.goldText Tack för att du har röstat!

  #mainFrame
    p#info Din röst är räknad. Resultatet kommer att presenteras inom kort!

