extends layout

block content

  link(rel='stylesheet', href='/stylesheets/styleSubmitted.css')

  #header
      h2.goldHeader Nobel 2020

  #topFrame
    #topContent
      h3.goldText Tack för att du har röstat!
      p#info Din röst är räknad. Resultatet kommer att presenteras inom kort!
      a(href="/" id="homeButton") Hem


