@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
    background: rgba(20, 20, 20);
    color: rgba(255, 255, 255);
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .goldText {
    font-family: 'Bilbo', cursive;
    -webkit-text-fill-color: transparent;
    background: url(../images/gold3.jpg) repeat;
    -webkit-background-clip: text;
    font-size: 200px;
  }