@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');
  
body {
  background: rgba(20, 20, 20);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.goldText {
  background: url(../images/gold3.jpg) repeat;
  font-family: 'Bilbo', cursive;
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
 
#topFrame {
  background: rgb(43, 43, 43);
  border-bottom: solid goldenrod 0.2vw;
  width: 100%;
  }

#topContent {
  padding: 2vw;
  text-align: center;
  margin: 0 auto; 
  width: 80%;
}

#topContent h1 {
  font-size: 15vw; 
}

/*Mid content*/
#mainFrame {
  padding: 4vw;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#info {
  color: rgb(204, 204, 204);
  font-family: 'Be Vietnam';
  font-size: 80%;
  text-align: center;
}