@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
  background: #1E1E1E;
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#topFrame {
  background:#212121;
  width: 100%;
  position:fixed;
  margin-top:-7%;
  height:20vw;
}

#topContent {
  margin: 0 auto;
  padding: 2vw; 
  text-align: center;
  width: 80%;
}

#topContent h2 {
  font-size: 8vw; 
}

.goldText {
  background: url(../images/gold3.jpg) repeat;
  font-family: 'Amita';
  margin: 0;
  margin-top: 2.5%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


/*naming content*/
.testImg{grid-area: img;}
#candidatePageName {grid-area: name;}
#candidatePageShortDesc {grid-area: shortDesc;}
#candidatePageLifeDesc {grid-area: lifeDesc;}
#candidatePageWorkDesc {grid-area: workDesc;}

.gridContent {
  display: grid;
  grid-template-areas:
    'img name'
    'img shortDesc'
    'lifeDesc lifeDesc'
    'workDesc workDesc';
  grid-template-columns: 400px auto;
  background-color: rgba(43, 43, 43);
  grid-gap: 2vw;
  margin: 5vw;
  padding: 4vw;
  border: solid gold 1px;
  margin-bottom: 15%;
}

a {
  text-decoration: none;
}
  

.testImg {
  min-width: 400px;
}

.btnVote {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vw;
  width: 100%;
  background-color: rgb(36, 102, 3);
  font-size: 3vw;
}

/*.btnVote:active {
  background-color: saddlebrown;
}*/

/*.footer button {
  margin-left: 50%;
  transform: translateY(-50%);
}*/

#candidatePageLifeDesc, #candidatePageWorkDesc {
  font-family: 'Playfair Display', serif;
  color: antiquewhite;
  font-size: 4vw;
}

@media only screen and (max-width: 800px) {
  .gridContent {
    grid-template-areas:
    'img img'
    'name shortDesc'
    'lifeDesc lifeDesc'
    'workDesc workDesc';
    grid-template-columns: auto auto;
  }
  .testImg{
    margin: 0 auto;
  }
}