
body {
  background:#212121;
  color: rgba(255, 255, 255);
  margin: 0;
  padding: 0;
  width:100%;
  font-family: 'Be Vietnam';
  color:#EEEEE5;
}

#voteDesc {
  padding-top: 26.5%;
  margin-bottom: 1%;
  margin:0 auto;
  text-align: center;
  font-size: 3vw;
  width: 75%;
}

a {
  text-decoration: none;
  color: white;
}

/*general*/
ul {
  list-style-type: none;
  padding: 1%;
}

/*Top content*/
#topFrame {
  background: #1A1A1A;
  width: 100%;
  position:fixed;
  margin-top:-2%;
  height:20vw;
}

#topContent {
  margin: 0 auto;
  padding: 2vw; 
  text-align: center;
  width: 80%;
}

#topContent h2 {
  font-size: 8vw; 
}

#topContent p {
  font-size: 4.5vw; 
}

.goldText {
  background: url(../images/gold3.jpg) repeat;
  font-family: 'Amita';
  margin: 0;
  margin-top: 2.5%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*Main Content*/

  /*Frames & Entries*/
.homepageCandidates {
  margin-top: 3%;
  list-style-type: none; 
  overflow: auto;
}

.contentFrame {
background: #1A1A1A;
overflow: auto;
padding: 1vw;
margin-top: 5%;
border-radius: 1vw;
}

    /*in-frame-content*/
#mainContent {
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

#mainContent h3 {
  font-family: 'Be Vietnam';
  font-size: 3vw; 
  font-weight: normal;
  margin: 2vw;
  margin-bottom: 1.5vw;
  color:#EEEEE5;
  padding-left:5%;
}

#homepageShortInfo {
  margin-top:5%;
  font-size: 1vw;
  font-style: italic;
  font-weight: lighter;
}

h3{
  margin-top: 5%;
}
.entryImg {
  float: left;
  margin: 2vw;
  margin-top: 0;
  width: 30vw;
  height: 32vw;
  border-radius: 1vw;
}

.shortInfo {
  color: rgb(204, 204, 204);
  padding-right: 1vw;
  color:#EEEEE5;
}

.furtherInfo {
  color: rgb(97, 97, 97);
  position: absolute;
  bottom: 2vw;
  right: 2vw;
}

.shortInfo, .furtherInfo {
  font-size: 3.5vw;
  margin: 0;
}