@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
  background: rgba(43, 43, 43);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*naming content*/
.testImg{grid-area: img;}
#candidatePageName {grid-area: name;}
#candidatePageShortDesc {grid-area: shortDesc;}
#candidatePageLifeDesc {grid-area: lifeDesc;}
#candidatePageWorkDesc {grid-area: workDesc;}

.gridContent {
  display: grid;
  grid-template-areas:
    'img name'
    'img shortDesc'
    'lifeDesc lifeDesc'
    'workDesc workDesc';
  grid-template-columns: 400px auto;
  background-color: rgba(43, 43, 43);
  grid-gap: 2vw;
  margin: 5vw;
  padding: 4vw;
  border: solid gold 1px;
  border-radius: 5px;
  margin-bottom: 15%;
}

a {
  text-decoration: none;
}
  
.gridContent p {
  font-family: 'Bilbo', cursive;
  -webkit-text-fill-color: transparent;
  background: url(../images/gold3.jpg) repeat;
  -webkit-background-clip: text;
  font-size: 4vw;
}

.testImg {
  min-width: 400px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: salmon;
}

.footer button {
  margin-left: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 800px) {
  .gridContent {
    grid-template-areas:
    'img img'
    'name shortDesc'
    'lifeDesc lifeDesc'
    'workDesc workDesc';
    grid-template-columns: auto auto;
  }
  .testImg{
    margin: 0 auto;
  }
}