@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
  background: rgba(20, 20, 20);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*Top content*/
#topFrame {
  background: rgb(43, 43, 43);
  margin-bottom: 2vw;
  width: 100%;
}

#topContent {
  margin: 0 auto;
  padding: 2vw; 
  text-align: center;
  width: 80%;
}

#topContent h2 {
  font-size: 16vw; 
}

#topContent p {
  font-size: 4.5vw; 
}

.goldText {
  background: url(../images/gold3.jpg) repeat;
  font-family: 'Bilbo', cursive;
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*Main Content*/
#mainContent {
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

  /*in-frame-content*/
#imgCandidate {
  border: solid gold 0.25vw;
  width: 100%;
}

#name {
  font-family: comfortaa;
  font-size: 6vw; 
  font-weight: normal;
  margin: 0;
  margin-bottom: 1.5vw;
  text-align: center;
}

#content {
  color: rgb(204, 204, 204);
  padding-right: 1vw;
  text-align: center;
}