@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');
  
body {
  background: rgba(20, 20, 20);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

  a {
    text-decoration: none;
  }
  
  h1.goldText {
    font-family: 'bilbo', cursive;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: url(../images/gold3.jpg) repeat;
    -webkit-background-clip: text;
    font-size: 150px;
    text-align: center;
  }
  .goldText {
    font-family: 'bilbo', cursive;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: url(../images/gold3.jpg) repeat;
    -webkit-background-clip: text;
    font-size: 75px;
    text-align: center;
    margin: 0;
  }
 
  #topFrame {
    background: rgb(43, 43, 43);
    border-bottom: solid gold 0.25vw;
    width: 100%;
  
  }

  #topContent {
    width: 65%;
    padding: 40px;
    text-align: center;
    margin: 0 auto; 
  }

  #mainFrame {
    padding: 40px;
    margin: 0 auto;
  }
