@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
  background: rgba(20, 20, 20);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

/*Top content*/
#topFrame {
  background: rgb(43, 43, 43);
  border-bottom: solid goldenrod 0.2vw;
  margin-bottom: 5vw;
  width: 100%;
}

#topContent {
  margin: 0 auto;
  padding: 2vw; 
  text-align: center;
  width: 80%;
}

#topContent h2 {
  font-size: 157%; 
}

.goldText {
  background: url(../images/gold3.jpg) repeat;
  font-family: 'Amita', cursive;
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#imgCandidate {
  border: solid goldenrod 0.25vw;
  border-radius: 1vw;
  width: 60%;
}

@media only screen and (min-width: 992px) {
  #resultCandidates {
    width:50%;
    float:left;
}
  
  #imgCandidate {
    border: solid goldenrod 0.1vw;
    border-radius: 1vw;
    width: 17vw;
  }
  #topContent h2 {
    font-size: 85%; 
  }

  #topContent h3 {
    font-size: 70%; 
  }

  #topContent h4 {
    font-size: 70%; 
  }

  #goldline{
    border-bottom: solid goldenrod 0.1vw;
    margin-top: 5%;
  }

  #h3{
    font-size: 10%;
  }

}

#name {
  font-family: comfortaa;
  font-size: 100%;
  font-weight: normal;
  margin: 1.5vw;
  text-align: center;
  margin-top: 2%;
}

#votesPercent {
  color: rgb(240, 240, 240);
  font-family: 'Be Vietnam';
  font-size: 90%;
  font-weight: normal;
}

/*other candidates- Content*/
#mainContent{
  background: rgb(43, 43, 43);
  border-radius: 1vw;
  margin: 0 auto;
  margin-bottom: 5vw;
  padding: 0;
  width: 90%;
}

#resultCandidates {
  overflow: auto;
  padding: 3vw;
}

  /*in-frame-content*/
.entryImg{
  border-radius: 1vw;
  border: solid goldenrod 0.2vw;
  width: 40%;
  float: left;
}

#loserName, #loserProc {
  font-size: 80%;
  font-weight: normal;
  float: left;
  margin: 0;
  margin-left: 2vw;
}