@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
  background: rgba(20, 20, 20);
  color: rgba(255, 255, 255);
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.goldText {
  font-family: 'Bilbo', cursive;
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: url(../images/gold3.jpg) repeat;
  -webkit-background-clip: text;
  font-size: 200px;
}

/*Main Content*/
#mainContent {
  background: blueviolet;
  margin: 0 auto;
  width: 80%;
}

.homepageCandidates {
  width: 100%;
}

#homepageCandidate {
  background: rgba(255, 255, 255);
  margin-bottom: 50px;
}

#homepageCandidates {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px auto;
}